{% extends 'base.html' %}
{% block style%}
<style>
    body{
        background-color: #483D8B;
    }
    @media (min-width: 0) {
        .g-mr-15 {
            margin-right: 1.07143rem !important;
        }
    }
    @media (min-width: 0){
        .g-mt-3 {
            margin-top: 0.21429rem !important;
        }
    }
    
    .g-height-50 {
        height: 50px;
    }
    
    .g-width-50 {
        width: 50px !important;
    }
    
    @media (min-width: 0){
        .g-pa-30 {
            padding: 2.14286rem !important;
        }
    }
    
    .g-bg-secondary {
        background-color: #fafafa !important;
    }
    
    .u-shadow-v18 {
        box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
    }
    
    .g-color-gray-dark-v4 {
        color: #777 !important;
    }
    
    .g-font-size-12 {
        font-size: 0.85714rem !important;
    }
    
    .media-comment {
        margin-top:20px
    }
    a{
        text-decoration: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for obj in comment %}
        <div class="col-md-10" style="margin-top: 10px;">
            <div class="media g-mb-30 media-comment">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ obj.title }}</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{ obj.user }}</span>
                  </div>
            
                  <p>{{ obj.content }}</p>
                  <ul class="list-inline d-sm-flex my-0">
                    <li class="list-inline-item g-mr-20">
                      <a href="{% url 'acceptable' obj.id book_id %}" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" style="text-decoration: none;">
                        <i class="icon-heart-empty g-pos-rel g-top-1 g-mr-3"></i>
                      </a>
                      <small>{{ obj.like_c }}</small>
                    </li>

                    {% if request.user.is_staff %}
                    <li class="list-inline-item ml-auto">
                      <a href="{% url 'delete_comment' obj.id %}" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" style="text-decoration: none;">
                        <i class="fa fa-trash g-pos-rel g-top-1 g-mr-3"></i>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
<br>
{% if request.user.is_authenticated %}
                 <h5>Add comment:</h5>
                 <form action="{% url 'comment' book_id %}" method="POST">
                  {% csrf_token %}
                <div class="col-md-10" style="margin-top: 10px;">
                  <input type="text" class="form-control" placeholder="title" name="title">
                  <textarea name="content" class="form-control" id="" cols="5" rows="5" placeholder="comment"></textarea>
                <ul class="list-inline d-sm-flex my-0">
            
                <li class="list-inline-item ml-auto">
                  <button class="btn btn-primary" style="margin-top: 10px;">submit</button>

  
                </li>
                </ul>
                </div>
              </form>
              {% endif %}

</div>
</div>

{% endblock %}