{% extends 'base.html' %}
{% block link %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock %}
{% block title %} Detail {% endblock %}

{% block style %}
<style>
  body{
    background-color: white;
  }
  a{
    text-decoration: none;
}
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  #heart{
    cursor: pointer;
    color: #abb0b8;
}
#heart .icon-heart-empty{
    color: #ff6161;
}
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  #card {
    margin-top: 10px;
    background: #eee;
    padding: 3em;
    border: none;
  }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }

@media screen and (min-width: 601px) {
  .information {
    font-size:2vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .information {
    font-size:4vw;
  }
}

@media screen and (min-width: 801px) {
  .icon {
    font-size:3vw;
  }
}
@media screen and (max-width: 800px) {
  .icon {
    font-size:5vw;
  }
}
</style>
{% endblock %}

{% block content %}

<!-- {{ request.build_absolute_uri }} -->

<div class="container py-4 col-12 col-lg-10 col-sm-12">
  {% include '../tem/message.html' %}
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}
            <!-- body  -->
              <div class="card" id="card">
                <div class="container-fliud">
                  <div class="wrapper row">
                    
                    <div class="preview col-xl-4 col-md-5 col-sm-12 col-12">
                        <div class="col-12 p-0" id="pic">
                          
                          <div>
                          <img src="{{ detail.cover.url }}" alt="Alternative">
                          </div>

                        <div class="col-12 p-0" style="margin-top: 3vw;">

                          <span class="icon" style="font-size:2vw;">{{ like }}</span>
                          <a class="icon" href="{%if request.user.is_authenticated %}{% url 'like' detail.id %}{%endif%}">
                          <i class="fa fa-thumbs-up" id="thumbs_up"></i></a>
                          
                          <span class="margin" style="font-size:2vw; margin-left: 2vw;">{{ dislike }}</span>
                          <a class="icon" href="{%if request.user.is_authenticated %}{% url 'dislike' detail.id %}{%endif%}">
                          <i class="fa fa-thumbs-down" id="thumbs_down" ></i></a>
                          
                          <a class="icon margin" style="margin-left: 2vw;"><i class="fa fa-share-alt" style="color: black;"></i></a>
                        
                          {% if bookmarck_status%}
                          <a class="icon" href="{% url 'add_book_marck' detail.id %}"
                          style="margin-left: 2vw;">
                          <i class="fa fa-bookmark" style="color: black;"></i></a>
                        {% else %}
                          <a class="icon margin" href="{%if request.user.is_authenticated %}{% url 'add_book_marck' detail.id %}{%endif%}"
                          style="cursor: pointer; text-decoration: none; margin-left: 2vw;">
                          <i class="icon-bookmark-empty" style="color: black;"></i></a>
                        {% endif %}
                        </div>
                        </div>
                        </div>
                    
                    
                    <div class="details col-xl-8 col-md-7 col-sm-12 col-12">
                      <h2 class="product-title" style="font-size:4vw;">{{ detail.name }}</h2>
                      <div class="rating">
                        {% if not loan %}
                        <span class="review-no" style="font-size:2vw; color: green;">This book is available</span>
                        {% else %}
                        <span class="review-no" style="font-size:2vw; color: red;">This book is not available right now!!</span>
                        {% endif %}
                      </div>
                      <h5 class="product-description information" style="color: rgb(86, 86, 86);">
                        <span style="color: rgb(120, 120, 120);">author: </span>
                        {% for author in detail.author.all %}
                        {{ author.name }}, 
                        {% endfor %}
                      </h5>
                      <h5 class="product-description information" style="color: rgb(86, 86, 86);">
                        <span style="color: rgb(120, 120, 120);">category: </span>
                        {% for category in detail.category.all %}
                        {{ category.category }}, 
                        {% endfor %}
                      </h5>
                      <h5 class="product-description information" style="color: rgb(86, 86, 86);">
                        <span style="color: rgb(120, 120, 120);">translator: </span>
                        {{ detail.translator }}
                      </h5>
                      <h5 class="product-description information" style="color: rgb(86, 86, 86);">
                        <span style="color: rgb(120, 120, 120);">publishers: </span>
                        {{ detail.publishers }}
                      </h5>
                      <br>
                      <h5 class="product-description information" style="color: rgb(86, 86, 86);">
                        <span style="color: rgb(120, 120, 120);">description: </span>
                        {{ detail.description }}
                      </h5>
                      <br>
                      
                      <div class="action">
                        {% if not loan %}
                        <a href="{% url 'add_loan' detail.id %}" class="btn btn-lg btn-primary" type="button">request</a>
                        {% else %}
                        <button class="add-to-cart btn btn-secondary btn-lg" type="button" style="color: black;">not available</button>
                        {% endif %}
                        {% if request.user.is_staff %}
                        <a href="{% url 'book_info' detail.id %}" style="margin-top: 5px;" class="btn btn-sm btn-primary ml-4" type="button">detail</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <hr>
                  <!-- comment  -->
                  <div class="col-12 m-0 p-0">
                    <h3 style="font-size:4vw;">comments</h3>
                  </div>
                  {% include 'extra/comment.html'  with book_id=detail.id %}

                  
                  <!-- footer  -->
                  {% include 'tem/footer.html' %}
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
  thumbs_up = document.getElementById('thumbs_up');
  thumbs_down = document.getElementById('thumbs_down');
  {% if color_like_b %}
  thumbs_up.style.color = 'green';
  thumbs_down.style.color = 'black';
  {% elif color_like_b == False %}
  thumbs_up.style.color = 'black';
  thumbs_down.style.color = 'red';
  {% else %}
  thumbs_up.style.color = 'black';
  thumbs_down.style.color = 'black';
  {% endif %}

</script>



{% endblock %}
