{% extends 'base.html' %}

{% block title %} Edit book {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  @media screen and (max-width: 800px) {
   
    #form {
      font-size: 3vw;
    }
    
    #btn {
      font-size: 3vw;
    }
    #icon {
      font-size: 2vw;
    }
  }
</style>
{% endblock %}


{% block content %}
<div class="container py-4 col-sm-12 col-md-10">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
        {% include '../tem/message.html' %}
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}

          <!-- body  -->
<div class="p-5">
<form action="{% url 'edit_book' book.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% load widget_tweaks %}


  <div class="form-group row">
    <label for="inputEmail3" id="form" class="col-sm-2 col-form-label">book name:</label>
    <div class="col-sm-10 col-md-6">
      {% render_field edit_book.name class="form-control" id="form" value=book.name %}
  </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">translator:</label>
    <div class="col-sm-10 col-md-6">
      {% render_field edit_book.translator class="form-control" id="form" value=book.translator %}
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">description:</label>
    <div class="col-md-10">
      <textarea name="description" class="form-control" id="form" rows="4">{{book.description}}</textarea>
    </div>
  </div>
 
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">category:</label>
    <div>
      {% render_field edit_book.category class="form-control" id="form" value="{{book.category}}" %}
    </div>
    <a href="{% url 'new_category' %}" style="margin-left: 7vw;"><i class="fa fa-plus" id="icon"></i></a>
  </div>
 
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">author:</label>
    <div>
      {% for author in book.author.all %}
        {% render_field edit_book.author class="form-control" id="form" value=author.name %}
      {% endfor %}
    </div>
    <a href="{% url 'new_author' %}" style="margin-left: 7vw;"><i class="fa fa-plus" id="icon"></i></a>
  </div>        
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">publishers:</label>
    <div>
      {% render_field edit_book.publishers class="form-control" id="form" %}
    </div>
    <a href="{% url 'new_publisher' %}" style="margin-left: 7vw;"><i class="fa fa-plus" id="icon"></i></a>
  </div>
  
      <!-- custom user  -->
      {% render_field edit_book.hidden_user value=request.user.username %}
      
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="form">cover:</label>
    <div>
      {% render_field edit_book.cover id="form"  value=book.cover %}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-10">
      <input type="submit" value="Edit" class="btn btn-primary" id="btn">
    </div>
  </div>
</form>
</div>

 <!-- footer  -->
 {% include 'tem/footer.html' %}

</div>
<div>
</div>
</div>
</div>
</div>
{% endblock %}
