{% extends 'base.html' %}

{% block title %} Edit book {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
</style>
{% endblock %}


{% block content %}
<div class="container py-4 col-sm-12 col-md-10">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
        {% include '../tem/message.html' %}
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}

          <!-- body  -->
<div class="p-5">
<form action="{% url 'edit_book' book.id %}" method="post">
  {% csrf_token %}
  {% load widget_tweaks %}


  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">book name:</label>
    <div class="col-sm-10 col-md-6">
      {% render_field edit_book.name class="form-control" value=book.name %}
  </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">translator:</label>
    <div class="col-sm-10 col-md-6">
      {% render_field edit_book.translator class="form-control" value=book.translator %}
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">description:</label>
    <div class="col-md-10">
      {% render_field edit_book.description class="form-control" rows="3" %}
    </div>
  </div>
 
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">category:</label>
    <div>
      {% render_field edit_book.category class="form-control" value=book.category.all %}
    </div>
    <a href="{% url 'new_category' %}" style="margin-left: 5%;"><i class="fa fa-plus"></i></a>
  </div>
 
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">author:</label>
    <div>
      {% render_field edit_book.author class="form-control" value=book.author %}
    </div>
    <a href="{% url 'new_author' %}" style="margin-left: 5%;"><i class="fa fa-plus"></i></a>
  </div>
  
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">publishers:</label>
    <div>
      {% render_field edit_book.publishers class="form-control" value=book.publishers %}
    </div>
    <a href="{% url 'new_publisher' %}" style="margin-left: 5%;"><i class="fa fa-plus"></i></a>
  </div>
  
      <!-- custom user  -->
      {% render_field edit_book.hidden_user value=request.user.username %}
      
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">cover:</label>
    <div>
      {{ edit_book.cover }}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-10">
      <input type="submit" value="Edit" class="btn btn-primary">
      <!-- <a href="{% url 'new_book' %}" class="btn btn-primary">Add book</a> -->
    </div>
  </div>
</form>
</div>

 <!-- footer  -->
 {% include 'tem/footer.html' %}

</div>
<div>
</div>
</div>
</div>
</div>
{% endblock %}
