{% extends 'base.html' %}

{% block title %} Request list {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  @media screen and (max-width: 800px) {
    #th {
      font-size: 2vw;
    }
    #tr {
      font-size: 1vw;
    }
    #btn{
      font-size: 1vw;
    }
  }
</style>
{% endblock %}


{% block content %}
<div class="container py-4 col-md-10 col-12">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}

<!-- body  -->
<div class="col-12"></div>
<table class="table table-sm col-12">
<thead>
    <tr>
        <th scope="col" id="th">row</th>
        <th scope="col" id="th">book name</th>
        <th scope="col" id="th">author</th>
        <th scope="col" id="th">translator</th>
        <th scope="col" id="th">publisher</th>
        <th scope="col" id="th">username</th>
        <th scope="col" id="th">done</th>
    </tr>
</thead>
<tbody>
    {% for obj in list %}
    <tr>
        <th scope="row" id="tr">{{ obj.id }}</th>
        <td id="tr">{{ obj.name }}</td>
        <td id="tr">{{ obj.author }}</td>
        <td id="tr">{{ obj.translator }}</td>
        <td id="tr">{{ obj.publisher }}</td>
        <td id="tr">{{ obj.user }}</td>
        <td id="btn"><a href="{% url 'request_done' obj.id %}" id="btn" class="btn btn-info">done</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<br>
      <!-- footer  -->
      {% include 'tem/footer.html' %}

    </div>
  <div>
</div>
</div>
</div>
</div>
{% endblock %}
