{% extends 'base.html' %}


{% block content %}
    <div class="bg-light text-center" style="border-radius: 1rem; margin-top: 30px;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); border-radius: 0 0 1rem 1rem ;">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a class="text-dark" href="">adminemail@gmail.com</a>
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a class="text-dark" href="">+21-00000000</a>
            <br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a class="text-dark" href="">first street- next to metro Flan- third alley- this library</a>
        </div>
    </div>
{% endblock %}