{% extends 'base.html' %}


{% block content %}

{% if messages %}
{% for message in messages %}

        {% if message.tags == 'error' %}
        <div>
        <div class="alert alert-danger row">
          <strong>
          {{ message }}
        </strong>
        <a href="" class="close ml-auto">x</a>
        </div>
      </div>
        {% else %}
        <div>
        <div class="alert alert-{{ message.tags }}" >
          <strong>
          {{ message }}
        </strong>
        <a href="" class="close">x</a>
        </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

{% endblock %}