{% extends 'base.html' %}

{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  a{
    text-decoration: none;
}
@media screen and(max-width: 380px) {
  nav div form span .text {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 1rem;">
  <div class="dropdown bg-light" style="float:right;">
    <button class="dropbtn" id="menu"><span class="navbar-toggler-icon"></span></button>
    <div class="dropdown-content dropdown-menu">
      
      {% if request.user.is_staff %}
      <a href="{% url 'check_receive' %}" style="text-decoration: none;">Receive</a>
      <a href="{% url 'advance_search' %}" style="text-decoration: none;">Advanced search</a>
      <a href="{% url 'loan' %}" style="text-decoration: none;">your book</a>
      <a href="{% url 'book_marck' %}" style="text-decoration: none;">Book Marck</a>
      <a href="{% url 'request_book' %}" style="text-decoration: none;">Book request</a>
      <a href="{% url 'request_list' %}" style="text-decoration: none;">request list</a>
      <a href="{% url 'unactive_books' %}" style="text-decoration: none;">unactive book</a>
      <a href="{% url 'about' %}" style="text-decoration: none;">about library/ ruls</a>
      <a href="{% url 'logout_user' %}" style="text-decoration: none;">Log out</a>

      {% elif request.user.is_authenticated %}
      <a href="{% url 'advance_search' %}" style="text-decoration: none;">Advanced search</a>
      <a href="{% url 'loan' %}" style="text-decoration: none;">your book</a>
      <a href="{% url 'book_marck' %}" style="text-decoration: none;">Book Marck</a>
      <a href="{% url 'request_book' %}" style="text-decoration: none;">Book request</a>
      <a href="{% url 'about' %}" style="text-decoration: none;">about library/ ruls</a>
      <a href="{% url 'logout_user' %}" style="text-decoration: none;">Log out</a>
      
      {% else %}
      <a href="{% url 'advance_search' %}">Advanced search</a>
      <a href="{% url 'login_user' %}" style="text-decoration: none;">login user</a>
      <a href="{% url 'register' %}" style="text-decoration: none;">register</a>
      <a href="{% url 'about' %}" style="text-decoration: none;">about library/ ruls</a>
      {% endif %}
    
  </div>
  </div>


  <ul class="navbar-nav ml-4" >
    <li class="nav-item">
  <span class="navbar-text ml-3">
    {% if request.user.is_authenticated%}
    <a href="{% url 'account' %}" style="text-decoration: none;">{{ request.user.username }}</a>
    {% else %}
    <a href="{% url 'login_user' %}" style="text-decoration: none;">login/register</a>
    {% endif %}
  </span>
  </li>
  </ul>

  {% if request.user.is_staff %}
  <ul class="navbar-nav ml-4" >
    <li class="nav-item">
  <span class="navbar-text ml-3">
    <a href="{% url 'new_book' %}" style="text-decoration: none;">new book</a>
  </span>
  </li>
  </ul>
  
  <ul class="navbar-nav ml-4" >
    <li class="nav-item">
  <span class="navbar-text ml-3">
    <a href="{% url 'user_list' %}" style="text-decoration: none;">member list</a>
  </span>
  </li>
  </ul>
  {% endif %}

  <ul class="navbar-nav ml-4">
  <li class="nav-item">
    <div class="collapse  navbar-collapse" id="navbarText">
    <div class="dropdown dropdown-toggle" style="float:right;">
        <button class="dropbtn" id="menu">category</button>
        <div class="dropdown-content dropdown-menu">
        {% for cat in cate %}
        <a href="{% url 'category' cat.id %}" style="text-decoration: none;">{{ cat.category }}</a>
        {% endfor %}
      </div>
      </div>
    </div>
</li>
</ul>
  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="search-container">
        <form action="{% url 'search' %}" method="get">
          {% csrf_token %}
        <div class="input-group mr-4 ml-4">
          
          <input type="text" name="q" class="form-control" placeholder="search..." aria-label="search" required>
          <div class="input-group-prepend">
            <button type="submit" class="input-group-text" style="cursor: pointer;"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </form>
    </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <h1 style="color: #4c4c4c;">Library name</h1>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
  <span class="navbar-text">
    <a href="{% url 'home' %}" style="text-decoration: none;"><i class="fas fa-home" style="font-size: 25px;"></i></a>
  </span>
  </li>
  </ul>
</nav>
{% endblock %}