{% extends 'base.html' %}

{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  a{
    text-decoration: none;
}
@media screen and(max-width: 380px) {
  nav div form span .text {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  #search {
    margin-left: 4px;
    margin-right: 4px;
  }
  #search_div {
    margin-right: auto;
    margin-left: 20px;
  }
  #capability {
    margin-left: 2vw;
  }
  #name {
    margin-right: auto;
  }
}
@media screen and (max-width: 800px) {
  #nav {
    padding-left: 0;
    padding-right: 0;
  }
  #form {
    font-size: 1vw;
  }
  #btn {
    font-size: 1vw;
  }
  #access {
    font-size: 2vw;
  }
  #menu {
    font-size: 2vw;
  }
  #list {
    font-size: 2vw;
  }
}

 
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav" style="border-radius: 1rem;">
  <div class="dropdown bg-light marg" style="float:right;">
    <button class="dropbtn" id="menu"><span class="navbar-toggler-icon"></span></button>
    <div class="dropdown-content dropdown-menu" id="list">
      {% if request.user.is_authenticated %}
      <a href="{% url 'home' %}" style="text-decoration: none;">Home</a>
      <a href="{% url 'advance_search' %}" style="text-decoration: none;">Advanced search</a>
      <a href="{% url 'loan' %}" style="text-decoration: none;">your book</a>
      <a href="{% url 'book_marck' %}" style="text-decoration: none;">Book Marck</a>
      <a href="{% url 'request_book' %}" style="text-decoration: none;">Book request</a>
      <a href="{% url 'about' %}" style="text-decoration: none;">about library/ ruls</a>
      <a href="{% url 'logout_user' %}" style="text-decoration: none;">Log out</a>
      
      {% else %}
      <a href="{% url 'home' %}" style="text-decoration: none;">Home</a>
      <a href="{% url 'advance_search' %}" style="text-decoration: none;">Advanced search</a>
      <a href="{% url 'login_user' %}" style="text-decoration: none;">login user</a>
      <a href="{% url 'register' %}" style="text-decoration: none;">register</a>
      <a href="{% url 'about' %}" style="text-decoration: none;">about library/ ruls</a>
      {% endif %} 
    </div>
  </div>



  <ul class="navbar-nav marg" id="capability">
    <li class="nav-item">
  <span class="navbar-text">
    {% if request.user.is_authenticated%}
    <a id="access" href="{% url 'account' %}" style="text-decoration: none;">{{ request.user.username }}</a>
    {% else %}
    <a href="{% url 'login_user' %}" id="access" style="text-decoration: none;">login</a>
    {% endif %}
  </span>
  </li>
  </ul>

  {% if request.user.is_staff %}
  <div class="dropdown bg-light marg " style="float:right;" id="capability">
    <button class="dropbtn dropdown-toggle" id="menu">Access</button>
      <div class="dropdown-content dropdown-menu" id="list">
        <a href="{% url 'check_receive' %}" style="text-decoration: none;">Receive</a>
        <a href="{% url 'new_book' %}" style="text-decoration: none;">new book</a>
        <a href="{% url 'new_user' %}" style="text-decoration: none;">new user list</a>
        <a href="{% url 'user_list' %}" style="text-decoration: none;">member list</a>
        <a href="{% url 'request_list' %}" style="text-decoration: none;">request list</a>
        <a href="{% url 'unactive_books' %}" style="text-decoration: none;">unactive book</a>
      </div>
  </div>
  {% endif %}



<div class="dropdown bg-light marg " style="float:right;" id="capability">
  <div class="collapse  navbar-collapse">
  <button class="dropbtn dropdown-toggle" id="menu">category</button>
    <div class="dropdown-content dropdown-menu" id="list">
      {% for cat in cate %}
      <a href="{% url 'category' cat.id %}" style="text-decoration: none;">{{ cat.category }}</a>
      {% endfor %}
    </div>
  </div>
</div>
      
    <ul class="navbar-nav" id="search_div">
      <li class="nav-item">
        <form action="{% url 'search' %}" method="get">
          {% csrf_token %}
          <div class="input-group" id="search">
            <div class="input-group-prepend">
              <button type="submit" class="input-group-text" id="btn"><i class="fas fa-search"></i></button>
            </div>
            <!-- <input type="hidden" value="{{ page_name }}" name="page_name" /> -->
            <input type="text" class="form-control" name="q" id="form" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
          </div>
      </form>
      </li>
    </ul>

    <ul class="navbar-nav" id="name">
      <li class="nav-item">
          <h1 style="color: #4c4c4c; font-size: 3vw;">Library name</h1>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="collapse  navbar-collapse">
  <span class="navbar-text">
    <a href="{% url 'home' %}" style="text-decoration: none;"><i class="fas fa-home" style="font-size: 3vw;"></i></a>
  </span>
  </div>
  </li>
  </ul>
</nav>
{% endblock %}