{% extends 'base.html' %}

{% block title %} account {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  a{
    text-decoration: none;
}
</style>
{% endblock %}

{% block content %}
  <div class="container py-4 col-8">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <!-- navbarText -->
          {% include '../tem/navbar2.html' %}

          <div class="card-body p-5 text-center">
            <form action="{% url 'account' %}" method="post">
                {% csrf_token %}
                <div class="form-outline">



                    <div class="row mb-4">
                        <div class="col">
                          <label for="firstname">user name:</label>
                          <input type="text" name="username" class="form-control" value={{user.username}}>
                        </div>
                        <div class="col">
                          <label for="lastname">first name:</label>
                          <input type="text" name="first_name" class="form-control">
                      </div>
                    </div>

                <div class="row mb-4">
                  <div class="col">
                    <label for="firstname">last name:</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
                  <div class="col">
                    <label for="lastname">national code:</label>
                    <input type="text" class="form-control" name="national_code">
                </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                      <label for="email">email:</label>
                      <input type="text" name="email" class="form-control" value={{user.email}}>
                    </div>
                    <div class="col">
                      <label for="firstname">phone number:</label>
                      <input type="text" name="phone" class="form-control">
                    </div>
                  </div>


                <div class="row mb-4">
                    <div class="col">
                      <label for="email">age:</label>
                      <input type="number" name="age" class="form-control">
                    </div>
                    <div class="col">
                      <label for="firstname">gender:</label>
                      <select name="gender" class="form-control">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                    </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="address">address:</label>
                  <textarea type="text" name="address" class="form-control" rows="3"></textarea>
                </div>

                <div class="row justify-content-center align-items-center">
                <input class="btn btn-info btn-md btn-block col-3" type="submit" value="save change">
                </div>
              </form>

            

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
