{% extends 'base.html' %}

{% block title %} sign in {% endblock %}



{% block content %}

<section>
  <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">    

        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 parent container justify-content-center align-items-center">
  
              <h3 class="mb-5 text-center">Reset Password</h3>

              <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

              <form method="post">
                {% csrf_token %}
                
                {{ form }}
                <br>
                <br>
                <br>
  
            <button class="btn btn-dark btn-lg btn-block" type="submit">send email</button>
          </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
