{% extends 'base.html' %}

{% block title %} sign in {% endblock %}



{% block content %}

<section>
  <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">    

        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 parent container justify-content-center align-items-center">
  
              <h3 class="mb-5 text-center">Reset Password</h3>

              <p>your password has been set. you may go ahead and login now.</p>

  
            <hr class="my-4">

            
                <a href="{% url 'login_user' %}" class="fw-bold">Sign in</a>
            
  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
