{% extends "base.html" %}

{% block content %}
<section>
  <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">    

        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 parent container justify-content-center align-items-center">
  
              <!--Password reset sent-->
		<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		  <hr>
		  <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
			  <br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            
  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
