{% extends 'base.html' %}

{% block title %} User list {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
  @media screen and (max-width: 800px) {
    #th {
      font-size: 2vw;
    }
  }
</style>
{% endblock %}


{% block content %}
<div class="container py-4 col-md-10 col-sm-12">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}

<!-- body  -->
<div class="col-12">
<table class="table table table-sm col-12">
    <thead>
      <tr>
        <th scope="col" id="th">row</th>
        <th scope="col" id="th">Username</th>
        <th scope="col" id="th">Join date</th>
        {% if user.is_superuser %}
        <th scope="col" id="th">dastresii</th>
        {% endif %}
        <th scope="col" id="th">detail</th>
        </tr>
       </thead>
       <tbody>
        {% for obj in user_list %}
        {% if obj.is_staff %}
        <tr class="table-secondary">
        {% else %}
        <tr class="table-Light">
        {% endif %}
        {% if obj.is_superuser %}
        {% else %}
        <th scope="row" id="th">{{ obj.id }}</th>
        <td id="th">{{ obj.username }}</td>
        <td id="th">{{ obj.date_joined }}</td>
      {% if user.is_superuser%}
        {% if obj.is_staff %}
        <td>
          <a href="{% url 'decline' obj.id %}" class="btn btn-warning" style="font-size: 1vw;">
            Decline
          </a>
        </td>
        {% else%}
        <td>
          <a href="{% url 'promote' obj.id %}" class="btn btn-info" style="font-size: 1vw;">
            Promotion
          </a>
        </td>
        {% endif %}
      {% endif %}
        {% csrf_token %}
        <td>
          <a href="{% url 'user_detail' obj.id %}"class="btn btn-dark" style="font-size: 1vw;">
            detail
          </a>
        </td>
    </tr>
      <!-- Decline -->
      {% endif %}
      {% endfor %}
    </tbody>
      </table>
</div>
      <!-- footer  -->
      {% include 'tem/footer.html' %}

    </div>
  <div>
</div>
</div>
</div>
</div>
{% endblock %}
