{% extends 'base.html' %}

{% block title %} User list {% endblock %}
{% block style %}
<style>
  body{
    background-color: #483D8B;
  }
  .cardd{
    background: #eee;
  }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 200px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
</style>
{% endblock %}


{% block content %}
<div class="container py-4 col-10">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
      <div class="cardd shadow-2-strong" style="border-radius: 1rem;">
        <!-- navbarText -->
          {% include 'tem/navbar2.html' %}

<!-- body  -->
<table class="table table table-sm">
    <thead>
      <tr>
        <th scope="col">row</th>
        <th scope="col">Username</th>
        <th scope="col">Join date</th>
        <th scope="col">dastresii</th>
        <th scope="col">detail</th>
        </tr>
       </thead>
       <tbody>
        {% for obj in user_list %}
        {% if obj.is_staff %}
        <tr class="table-secondary">
        {% else %}
        <tr class="table-Light">
        {% endif %}
        {% if obj.is_superuser %}
        {% else %}
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.username }}</td>
        <td>{{ obj.date_joined }}</td>
        {% if obj.is_staff %}
        <td><a href="{% url 'decline' obj.id %}" class="btn btn-warning">Decline</a></td>
        {% else%}
        <td><a href="{% url 'promote' obj.id %}" class="btn btn-info">Promotion</a></td>
        {% endif %}
        {% csrf_token %}
        <td><a href="{% url 'user_detail' obj.id %}" id="demo" class="btn btn-dark">detail</a></td>
    </tr>
      <!-- Decline -->
      {% endif %}
      {% endfor %}
    </tbody>
      </table>

      <!-- footer  -->
      {% include 'tem/footer.html' %}

    </div>
  <div>
</div>
</div>
</div>
</div>
{% endblock %}
